@model PuntoEncuentro.Entidades.t_Usuarios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Usuario</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @*@Html.LabelFor(model => model.tipoIdNumUsuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Tipo de Identificación</b>
            </div>
            <div class="col-md-10">
                @*@Html.DropDownList("TipoDocumento", null, htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownListFor(model=>model.TipoDocumento, ViewData["TipoDocumento"] as IEnumerable<SelectListItem>)
                @Html.ValidationMessageFor(model => model.TipoDocumento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.numIdUsuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Número de Identifiació</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.numIdUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numIdUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.primerNombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Primer Nombre</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.primerNombre, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.primerNombre, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.segundoNombre, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Segundo Nombre</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.segundoNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.segundoNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.primerApellido, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Primer Apellido</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.primerApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.primerApellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.segundoApellido, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Segundo Apellido</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.segundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.segundoApellido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.tipoUsuario, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Tipo Usuario</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tipoUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tipoUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.fechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Fecha De Nacimiento</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class = "control-label col-md-2">
                <b>Número Celular</b>  
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumeroFijo, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class = "control-label col-md-2">
                <b>Número Fijo</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroFijo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroFijo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class = "control-label col-md-2">
                <b>Correo Electronico</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Ocupacion, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Ocupación</b>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ocupacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ocupacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Sexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Sexo</b>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("Sexo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* @Html.LabelFor(model => model.EstadoCivil, "EstadoCivil", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="control-label col-md-2">
                <b>Estado Civil</b>
            </div>
            <div class="col-md-10">
                @Html.DropDownList("EstadoCivil", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
