@model IEnumerable<PuntoEncuentro.Entidades.t_Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Registrar Nuva Persona", "Create")
</p>
<table id="usuarios" class="table">
    <thead>
    <tr>
        <th>
            Primer Nombre
        </th>
        <th>
            Segundo Nombre
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Tipo de Usuario
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            Celular
        </th>
        <th>
            Número Fijo
        </th>
        <th>
            Correo Electronico
        </th>
       
        <th>
            Operaciones
        </th>
    </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Primer Nombre
            </th>
            <th>
                Segundo Nombre
            </th>
            <th>
                Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th>
                Tipo de Usuario
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Celular
            </th>
            <th>
                Número Fijo
            </th>
            <th>
                Correo Electronico
            </th>
           
            <th>
                Operaciones
            </th>
        </tr></tfoot>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.primerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.segundoApellido)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.tipoUsuario)*@
                @Html.DisplayFor(modelItem=>item.t_TipoUsuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroFijo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.numIdUsuario}) |
                @Html.ActionLink("Detalles", "Details", new {id = item.numIdUsuario}) |
                @Html.ActionLink("Borrar", "Delete", new {id = item.numIdUsuario})
            </td>
        </tr>
    }
        
    </tbody>
</table>

<script type="text/javascript" charset="utf8">
    $(document).ready( function () {
        $('#usuarios').DataTable();
    } );
</script>
    

