@model PuntoEncuentro.Entidades.t_AsistenciaEvento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>t_AsistenciaEvento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_Evento.NombreEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_Evento.NombreEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_Usuarios.tipoIdNumUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_Usuarios.tipoIdNumUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_Usuarios1.tipoIdNumUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_Usuarios1.tipoIdNumUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
